= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :type
    = f.select :product_type do
      = options_for_select [['Wine'], ['Wine Set', 'WineSet'], ['Basket'], ['Glassware'], ['Accessory']]
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label 'Original ID'
    = f.text_field :oid
  .field
    = f.label 'Minimum Price'
    = f.text_field :price_min
  .field
    = f.label 'Maximum Price'
    = f.text_field :price_max
  .field
    = f.label 'Retail Price'
    = f.text_field :price_retail
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :year
    = f.text_field :year
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
