%h1 Products List

%table.table
  %thead
    %tr
      %th Name
      %th Type
      %th Price retail
      %th Description
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.product_type
        %td= product.price_retail
        %td= product.description
        %td
          = link_to edit_product_path(product) do
            %span.glyphicon.glyphicon-pencil
        %td
          = link_to product, method: :delete, data: { confirm: 'Are you sure?' } do
            %span.glyphicon.glyphicon-remove

%br

= link_to 'New Product', new_product_path, class: 'btn btn-primary'
